.body{
  background-image: url("../../assets/IMG/Design.gif");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height:700px

}