<body class="atualback">
  <div class= "justify-content-center aligh-item-center wrap">

    <br>
    <br>
    <h1 class="text-center text-white mb-3">Sinta-se a vontade para explorar aqui !</h1>
    <h5 class="text-center text-white">Algumas indicações para você.</h5>
    <br>
    <br>
    <div class="d-flex justify-content-center aligh-item-center wrap" >
    <div class="card grow m-3 p-3" style="width: 25rem;">
      <img src="../../assets/IMG/capa racionais.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title ">Musica para você !</h5>
        <p class="card-text lead">O tempo não cansa! Ontem a noite você pediu, você pediu... Uma oportunidade,
          mais uma chance, como Deus é bom né não nego?
          Olha aí, mais um dia todo seu. Que céu azul louco hein?
          Vamos acordar, vamos acordar, agora vem com a sua cara, sou mais você nessa guerra
          A preguiça é inimiga da vitória, o fraco não tem espaço e o covarde morre sem tentar</p>
          <br>
          <br>
        <a href="https://www.youtube.com/watch?v=Sok0l58SpDM" class="btn text-white border-0 btn-info">Vá até lá</a>
      </div>
    </div>

    <div class="card grow m-3 p-3" style="width: 25rem;">
      <img src="../../assets/IMG/cantobaoba.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Já pensou em Psicoterapia ?</h5>
        <p class="card-text lead">Um espaço especializado em Saúde Mental e diversidade, com ênfase no enfrentamento às
          violências estruturais. Temos a missão de fazer do cuidado da mente, direito universal.
          Aqui, nosso objetivo é democratizar o acesso à psicoterapia! E para que possamos atender pessoas em situação
          de vulnerabilidade, temos nossa Clínica Social.</p>
          <br>
          <br>
        <a href="https://www.cantobaoba.com.br/" class="btn text-white border-0 btn-info">Vá até lá</a>
      </div>
    </div>

    <div class="card grow m-3 p-3" style="width: 25rem;">
      <img src="../../assets/IMG/podcast.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ouça Mano a Mano !</h5>
        <p class="card-text lead">Salve rapa! Salve massa! Mano Brown vem para ampliar a visão e o debate trazendo
          diversidade de ideias e pensamentos com profundidade e respeito. Se prepare para ouvir assuntos importantes,
          interessantes, relatos inéditos e controversos com convidados amados ou odiados - você decide! Todas as
          quintas-feiras já estão reservadas para esse papo no melhor estilo Mano a Mano, um original Spotify.</p>
        <a href="https://open.spotify.com/show/0GnKiYeK11476CfoQEYlEd" class="btn text-white border-0 btn-info">Vá até lá</a>
      </div>
    </div>



  </div>

  </div>
</body>