<body class="backgroundtela">


  <div class="container">


    <div class="row  d-flex justify-content-center">

      <strong>

        <!-- Nossa Equipe -->
        <br>
        <br>
        <div class="container p-0 m-0">
          <strong>
            <div class="row d-flex text-white text-center">
              <br>
              <br>
              <h2 class="py-3" style="font-weight: bold;">ESTE SITE FOI CONSTRUÍDO POR ESTES
                INCRÍVEIS DESENVOLVEDORES:</h2>
            </div>
          </strong>
        </div>

        <div class="container pb-5">
          <!-- First Row -->
          <div class="row">
            <!-- ------------------------------------------Aline------------------------------------------------------ -->
            <div class="col-lg-3 col-sm-6">
              <div class="card hovercard grow">
                <div class="cardheader"></div>
                <div class="bg-colorstyle cardTamanho">
                  <div class="avatar">
                    <img data-toggle="modal" data-target="#brunoPerfilModal" alt=""
                      src="https://imgur.com/Vu0Mnak.jpg" />
                  </div>
                  <div class="info">
                    <div class="title text-light pt-3">Aline Monteiro</div>
                    <div class="desc pt-3 text-light">Desenvolvedore FullStack Java</div>
                    <div class="desc text-light">São Paulo - SP</div>
                  </div>
                  <br>
                  <div class="row mb-3">
                    <div class="col-md-12 d-flex justify-content-center">
                      <a href="https://github.com/alinear-me" target="_blank" class="p-3">
                        <img class="tm-social socialIcon grow"
                          src="../../assets/IMG/Redes Sociais/GIT HUB.png" alt="Logo do GitHub" />
                      </a>

                      <a href="https://www.linkedin.com/in/alinear-me/" target="_blank" class="p-3">
                        <img class="tm-social socialIcon grow"
                          src="../../assets/IMG/Redes Sociais/linkedin-icon-logo-png-transparent.png"  alt="Logo do Linkedin" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!--Bootstrap modal -->
              <div class="modal fade" id="brunoPerfilModal" tabindex="-1" role="dialog"
                aria-labelledby="brunoPerfilLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <!-- Modal heading -->
                    <div class="modal-header">
                      <h5 class="modal-title" id="brunoPerfilLabel">
                        Aline Monteiro
                      </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> × </span>
                      </button>
                    </div>

                    <!-- Modal body with image -->
                    <div class="modal-body d-flex justify-content-center">
                      <img class="w-50" src="https://imgur.com/76LPMYz.jpg" alt="foto de aline" />
                    </div>

                    <!-- Modal footer text -->
                    <div class="modal-footer d-block">
                      <div class="row d-flex text-center">
                        <div class="col-sm">
                         <!-- <h4>Perfil Profissional</h4>-->
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm">
                          <p></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>




<!-----------------------------------------------------jana---------------------------------------------------->
            
  
                       
<!-- ---------------------------------------------------jana--------------------------------------------------- -->
            <div class="col-lg-3 col-sm-6">
              <div class="card hovercard grow">
                <div class="cardheader"></div>
                <div class="bg-colorstyle cardTamanho">
                  <div class="avatar">
                    <img data-toggle="modal" data-target="#joaquimPerfilModal" alt=""
                      src="../../assets/IMG/Nós/jana.JPG" />
                    <!--foto do prfil-->
                  </div>
                  <div class="info">
                    <div class="title text-light pt-3">Janaina Garbugio</div>
                    <div class="desc pt-3 text-light">Desenvolvedore FullStack Java</div>
                    <div class="desc text-light">São Paulo - SP</div>
                  </div>
                  <br>
                  <div class="row mb-3">
                    <div class="col-md-12 d-flex justify-content-center">
                      <a href="https://github.com/JanainaGarbugio" target="_blank" class="p-3">
                        <img class="tm-social socialIcon grow"
                          src="../../assets/IMG/Redes Sociais/GIT HUB.png" alt="Logo do GitHub" />
                      </a>

                      <a href="https://br.linkedin.com/in/janainagarbugio" target="_blank" class="p-3">
                        <img class="tm-social socialIcon grow"
                          src="../../assets/IMG/Redes Sociais/linkedin-icon-logo-png-transparent.png"  alt="Logo do Linkedin" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!--Bootstrap modal -->
              <div class="modal fade" id="joaquimPerfilModal" tabindex="-1" role="dialog"
                aria-labelledby="joaquimPerfilLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <!-- Modal heading -->
                    <div class="modal-header">
                      <h5 class="modal-title" id="joaquimPerfilLabel">
                        Janaina Garbugio
                      </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> × </span>
                      </button>
                    </div>

                    <!-- Modal body with image -->
                    <div class="modal-body d-flex justify-content-center">
                      <img class="w-50"
                        src="../../assets/IMG/Nós/jana.JPG"
                        alt="jana" />
                    </div>

                    <!-- Modal footer text -->
                    <div class="modal-footer d-block">
                      <div class="row d-flex text-center">
                        <div class="col-sm">
                          <h4>Perfil Profissional</h4>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm">
                          <p>
                            Olá! Me chamo Jana, moro em São Paulo e estou estudando
                            para me tornar uma Desenvolvedora Full Stack!
                          </p>
                          <p> iniciei o Bootcamp Full Stack da
                            Generation Brasil onde estou aprendendo a desenvolver
                            aplicações web utilizando Java, Spring Boot, SQL,
                            Angular e Docker..
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          <!-- joelma------------------------------------------------------------------>
          <div class="col-lg-3 col-sm-6 ">
            <div class="card hovercard grow">
              <div class="cardheader"></div>
              <div class="bg-colorstyle cardTamanho">
                <div class="avatar">
                  <img data-toggle="modal" data-target="#erickPerfilModal"  alt=""
                    src="https://i.imgur.com/HoFIO4R.jpg.jpg" />
                </div>
                <div class="info">
                  <div class="title pt-3 text-light">Joelma Bittencourt</div>
                  <div class="desc pt-3 text-light">Desenvolvedor FullStack Java</div>
                  <div class="desc text-light">São Paulo - SP</div>
                </div>
                <br>
                <div class="row mb-3">
                  <div class="col-md-12 d-flex justify-content-center">
                    <a href="https://github.com/JoelmaBittencourt" target="_blank" class="p-3">
                      <img class="tm-social socialIcon grow"
                        src="../../assets/IMG/Redes Sociais/GIT HUB.png" alt="Logo do GitHub" />
                    </a>

                    <a href="https://www.linkedin.com/in/joelma-bittencourt/" target="_blank" class="p-3">
                      <img class="tm-social socialIcon grow"
                        src="../../assets/IMG/Redes Sociais/linkedin-icon-logo-png-transparent.png"  alt="Logo do Linkedin" />
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!--Bootstrap modal -->
            <div class="modal fade" id="erickPerfilModal" tabindex="-1" role="dialog"
              aria-labelledby="erickPerfilLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <!-- Modal heading -->
                  <div class="modal-header">
                    <h5 class="modal-title" id="erickPerfilLabel">Joelma Bittencourt</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true"> × </span>
                    </button>
                  </div>

                  <!-- Modal body with image -->
                  <div class="modal-body d-flex justify-content-center">
                    <img class="w-50" src="https://imgur.com/ycvr2pH.jpg"
                      alt="joelma" />
                  </div>

                  <!-- Modal footer text -->
                  <div class="modal-footer d-block">
                    <div class="row d-flex text-center">
                      <div class="col-sm">
                        <h4>Perfil Profissional</h4>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm">
                        <p>
                          Sou proativa, persistente em relações a certas
                          dificuldades e sempre procuro tecnologia em tudo.
                        </p>
                        Curiosa,sempre com força de vontade ,trabalho desde os 16 anos.Me apaixonei pela tecnologia quando ingressei na generation,Procuro sempre me aprofundar em novas tecnologias e aperfeiçoar meu conhecimento em java.
                        <p>

                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

         <!--------------------------------- Max Nikolas -->
         <div class="col-lg-3 col-sm-6 ">
          <div class="card hovercard grow">
            <div class="cardheader"></div>
            <div class="bg-colorstyle cardTamanho">
              <div class="avatar">
                <img data-toggle="modal" data-target="#guilhermePerfilModal" alt=""
                  src="../../assets/IMG/Nós/max.JPG"/>
              </div>
              <div class="info">
                <div class="title pt-3 text-light">Max Nikolas</div>
                <div class="desc pt-3 text-light">Desenvolvedor FullStack Java</div>
                <div class="desc text-light">Campinas - SP</div>
              </div>
              <br>
              <div class="row mb-3">
                <div class="col-md-12 d-flex justify-content-center">
                  <a href="https://github.com/MaxNikollasSilvaSouza" target="_blank" class="p-3">
                    <img class="tm-social socialIcon grow"
                      src="../../assets/IMG/Redes Sociais/GIT HUB.png" alt="Logo do GitHub" />
                  </a>

                  <a href="https://www.linkedin.com/in/max-nikollas-silva-souza/" target="_blank" class="p-3">
                    <img class="tm-social socialIcon grow"
                      src="../../assets/IMG/Redes Sociais/linkedin-icon-logo-png-transparent.png"  alt="Logo do Linkedin" />
                  </a>
                </div>
              </div>
              </div>
            </div>
          <!--Bootstrap modal -->
          <div class="modal fade" id="guilhermePerfilModal" tabindex="-1" role="dialog"
            aria-labelledby="guilhermePerfilLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <!-- Modal heading -->
                <div class="modal-header">
                  <h5 class="modal-title" id="guilhermePerfilLabel">
                    Max Silva
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"> × </span>
                  </button>
                </div>

                <!-- Modal body with image -->
                <div class="modal-body d-flex justify-content-center">
                  <img class="w-50" src="../../assets/IMG/Nós/max.JPG"
                    alt="max" />
                </div>

                <!-- Modal footer text -->
                <div class="modal-footer d-block">
                  <div class="row d-flex text-center">
                    <div class="col-sm">
                      <h4>Perfil Profissional</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm">


                      <p>
                        Atualmente estou participando do Bootcamp da Generation
                        Brasil de Desenvolvedor Java Jr. Fullstack, na qual
                        busco me atualizar sobre algumas tecnologias e estar
                        melhor preparado para o que o mercado exige. Neste
                        período já tive contato especialmente com a linguagem
                        Java, utilizando a Spring Boot como framework e MySQL
                        para Banco de Dados.
                      </p>


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Second Row -->
      <div class="row d-flex justify-content-center">

     <!---------------------samuel-----------------------  -->
     <div class="col-lg-3 col-sm-6 ">
      <div class="card hovercard grow">
        <div class="cardheader"></div>
        <div class="bg-colorstyle cardTamanho">
          <div class="avatar">
            <img data-toggle="modal" data-target="#leonardoPerfilModal" alt=""
              src="https://imgur.com/nVHL9dJ.jpg" />
          </div>
          <div class="info">
            <div class="titleGrande pt-3 text-white">Samuel Santos</div>
            <div class="desc pt-3 text-white">Desenvolvedor FullStack Java</div>

            <div class="desc text-white">São Paulo - SP</div>
          </div>
          <br>
          <div class="row mb-3">
            <div class="col-md-12 d-flex justify-content-center grow">
              <a href="https://github.com/SamuelSantos7" target="_blank" class="p-3">
                <img class="tm-social socialIcon grow"
                  src="../../assets/IMG/Redes Sociais/GIT HUB.png" alt="Logo do GitHub" />
              </a>

              <a href="https://www.linkedin.com/in/samuelsantos7/" target="_blank" class="p-3">
                <img class="tm-social socialIcon grow"
                  src="../../assets/IMG/Redes Sociais/linkedin-icon-logo-png-transparent.png"  alt="Logo do Linkedin" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--Bootstrap modal -->
      <div class="modal fade" id="leonardoPerfilModal" tabindex="-1" role="dialog"
        aria-labelledby="leonardoPerfilLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <!-- Modal heading -->
            <div class="modal-header">
              <h5 class="modal-title" id="leonardoPerfilLabel">
                Samuel Santos
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"> × </span>
              </button>
            </div>

            <!-- Modal body with image -->
            <div class="modal-body d-flex justify-content-center">
              <img class="w-50" src="https://imgur.com/nVHL9dJ.jpg" alt="foto de samuel" />
            </div>

            <!-- Modal footer text -->
            <div class="modal-footer d-block">
              <div class="row d-flex text-center">
                <div class="col-sm">
                  <h4>Perfil Profissional</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-sm">
                  <p>
                    Desenvolvedor full stack jr. Dedicado e proativo, sempre
                    disposto a trabalhar em equipe, se comunicar,
                    compartilhar e absorver conhecimento. Bastante atento
                    aos detalhes das demandas requeridas, e organizado em
                    suas entregas.
                  </p>
                  <p>
                    Possuo um amor e entusiamo gigante por tecnologia e por
                    criar soluções práticas para problemas complexos.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>



<p>
</p>