.backgroundtela {
    background-image: url(https://i.imgur.com/nn3kVDv.png);
  }
  
  .bg-colorstyle {
      background-image: url(https://i.imgur.com/cKHz37O.png);
    }
    
    .socialIcon {
      width: 2rem;
    }
    
    .card {
        border: none;
    }
    
    .textSize{
      font-size: 1.2rem;
      text-align: justify;
    }
    
    .card.hovercard {
      position: relative;
      padding-top: 0;
      overflow: hidden;
      text-align: center;
      background-color: #b1060600;
    }
    
    .cardheader{
        height: 100px;
        /* background: #ffffff; */
    }
    
    .card.hovercard .avatar {
      position: relative;
      margin-top: -70px;
    
    }
    
    .card.hovercard .avatar img {
      width: 150px;
      height: 150px;
      max-width: 150px;
      max-height: 150px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 5px solid #f5f5f5;
      cursor: pointer;
      position: relative;
      transition: .5s;
    }
    
    
    
    .card.hovercard .avatar img:hover{
        border: 5px solid #334E3B;
    }
    
    
    .card.hovercard .info {
      padding: 4px 8px 10px;
    }
    
    .card.hovercard .info .title {
      margin-bottom: 4px;
      font-size: 30px;
      line-height: 1;
      color: #262626;
      vertical-align: middle;
    }
    
    .card.hovercard .info .titleGrande {
        margin-bottom: 4px;
        font-size: 30px;
        line-height: 1;
        color: #262626;
        vertical-align: middle;
      }
    
      .cardTamanho{
          height: 300px;
      }
    
    .card.hovercard .info .desc {
      overflow: hidden;
      font-size: 15px;
      line-height: 20px;
      color: #737373;
      text-overflow: ellipsis;
    }
    
    .textFormat{
    
      font: 10rem;
    
    }
    .bgsobrenos
    {
        background-color: rgb(23, 241, 241);
        height: 1080px;
    }
    
    .image
    {
        width: 270px;
        height: 200px;
    }
    
    .popup
    {
    
        background-color: white;
        position: absolute;
        left: 35%;
        top: 90px;
    
    }
    .ff
    {
        margin:2px;
        border: 5px;
        border-color: black;
        background-color: #eeeeee;
    }
    .imgposition
    {
    
        position: absolute;
        border-radius: 10px;
        left: 18%;
        top: 140%;
        z-index: 1;
    
    }
    
    .bordas
    {
        border-radius: 10px;
    }
    
    .positiontext
    {
        height: 500px;
        background-color: white;
        position: absolute;
        left: 45%;
        top: 143%;
    
    }
    
    .espaco_esquerdo
    {
        margin-left: 60px;
    }
    .mt
    {
        margin-top: 10%;
    }
    
    .texto_centro
    {
        text-align: center;
    }
    
    .alinhar_centro
    {
        align-items: center;
    
    }
    
    .ml50
    {
        margin-left: 25%;
    }
    
    .verde
    {
    background-color: rgb(48, 82, 82);
    
    
    }
    
    .textobranco
    {
        color: rgb(65, 7, 7);
    }
    .carousel-indicators {
      position: inherit;
    }
    .btn-comprar{
      background-color: #00463F;
    }
    .banner-img {
      width: 100%;
      min-height: 10em;
    }
    .categoria {
      width: 150px;
      height: 150px;
      transition: 0.2s;
      border: solid lightgrey 1px;
      color: black;
    }
    .categoria:hover {
      color: lightgray;
    }
    .btn-verde{
      color:white;
      background-color:#00463F;
    }
    .ctg-img {
      width: 80px;
      height: 80px;
      transition: 0.2s;
    }.img-front {
      display: none;
    }
    .categoria:hover .img-back {
      display: none;
    }
    .categoria:hover .img-front {
      display: block;
    }
    .categoria:hover {
      background-color: #00463F;
    }
    .img-card{
      width: 300px;
      height: 270px;
    }
    .mobile-card-img {
      transition: 0.5s;
    }
    .mobile-card-img:hover {
      box-shadow: -2px 1px 35px 1px rgba(159,150,150,0.75);
      -webkit-box-shadow: -2px 1px 35px 1px rgba(159,150,150,0.75);
      -moz-box-shadow: -2px 1px 35px 1px rgba(159,150,150,0.75);
    }
    .mobile-card-img:active {
      background-color: #00463F;
      color: whitesmoke;
    }
    
    .grow:hover
  {
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
  }
  
  .grow { transition: all .2s ease-in-out; }
  .grow:hover { transform: scale(1.1);}
  
  
  .grow img{ transition: all .2s ease-in-out;
    }
  
  
    .grow { transition: all .2s ease-in-out; }
    .grow:hover { transform: scale(1.1);}
    