<body class="bgsobrenos md-5 p-10 bg-transparent">
    <div class="container-fluid p-10">

        <div class="'mb-10 mt-10">

            <div class="row">
                <div class="col-md-12">
                    <h2 class="mb-4 font-weight-bold text-center grow">COLABORADORES</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 p-10">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" role=auto>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="card w-50">
                                            <img class="card-img-top"
                                                src="https://i.imgur.com/0ui2Rj0.png"
                                                alt="Card image cap">

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card w-50">
                                            <img class="card-img-top"
                                                src="https://i.imgur.com/kFLu6y4.png"
                                                alt="Card image cap">

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card w-50">
                                            <img class="card-img-top"
                                                src="https://i.imgur.com/YxuyFfK.png"
                                                alt="Card image cap">

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card w-50">
                                            <img class="card-img-top"
                                                src="https://i.imgur.com/wYeLpzB.png"
                                                alt="Card image cap">

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="card w-50">
                                            <img class="card-img-top"
                                                src="https://i.imgur.com/pJ21oVf.png"
                                                alt="Card image cap">

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card w-50">
                                            <img class="card-img-top"
                                                src="https://i.imgur.com/2BDOzlU.png"
                                                alt="Card image cap">

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card w-50">
                                            <img class="card-img-top"
                                                src="https://i.imgur.com/sSfTY62.png"
                                                alt="Card image cap">

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card w-50">
                                            <img class="card-img-top"
                                                src="https://i.imgur.com/IDVfGgH.jpg"
                                                alt="Card image cap">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>

        </div>
    </div>