<br>

<div id="carrosselsite" class="carousel slide carousel-fade" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="carrosselsite" data-slide-to="0" class="active"></li>
    <li data-target="carrosselsite" data-slide-to="1" class="active"></li>
    <li data-target="carrosselsite" data-slide-to="2" class="active"></li>
  </ol>

  <div class="carousel-inner">

    <div class="carousel-item active">

      <img src="assets/IMG/1.png" alt="capa 1" class="img-fluid d-block w-100">

    </div>

    <div class="carousel-item">

      <img src="../../assets/IMG/m2.png" alt="capa 2" class="img-fluid d-block w-100">

    </div>

    <div class="carousel-item">

      <img src="assets/IMG/3_CAPA.png" alt="capa 3" class="img-fluid d-block w-100">

    </div>
  </div>
  <a class="carousel-control-prev" href="#carrosselsite" role="button" data-slide="prev">

    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>

  <a class="carousel-control-next" href="#carrosselsite" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Proximo</span>
  </a>

</div>

<hr class="text-white">
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h6 class="text-center text-white lead">O que é</h6>
      <h1 class="text-center text-white tamLetragg lead">Freedom Tech+ ?</h1>
      <br><br>

      <!-- <div class="container pb-5">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
             <div class="card hovercard"> 
              <div class="cardheader"></div>
              <div class="popup-color cardTamanho"> -->

      <br>
      <h2 class=" text-white text-center">
        Uma rede social, focada no compartilhamento de temas educacionais e tecnologicos para incentivar e facilitar o
        acesso de novos estudantes, egressos do sistema prisional, ao mercado de trabalho.
      </h2>


      <br>
      <br>
      <h5 class="lead text-white text-center">
        Uma pesquisa feita pelo Jus brasil, trouxe um questionamento sobre as razões pelas quais se acredita que
        egressos não regressam no mercado de trabalho e a resposta foi: 69,6% não conseguem oportunidades devido ao
        preconceito sofrido, 16,2% responderam que não possuem qualificações suficientes e 14,2% responderam que
        acredita que, o egresso se acostumou com a vida do crime.
      </h5>
      <h5 class="lead text-white text-center">
        Esses números nos incentivam a cada vez mais buscar a democratização do conhecimento, para que os dados
        apresentados fiquem para trás.
      </h5>

      <br>
      <br>

      <div class=" text-center button">
        <button class="btn btn-info border-0 text-white" routerLink="/contatos" type="button" aria-haspopup="true"
          aria-expanded="false">Saiba sobre nós</button>



        <br>
        <br>
        <br>
        <br>


        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        </div>
      </div>
    </div>
    <br>
  </div>