.bgsobrenos
{
    background-color: rgb(48, 82, 82);
    height: 1080px;
}

.popup
{

    background-color: white;
    position: absolute;
    left: 25%;
    top: 60px;

}
.ff
{
    margin:2px;
    border: 5px;
    border-color: black;
    background-color: #eeeeee;
}

.bordas
{
    border-radius: 10px;
}

.texto_centro
{
    text-align: center;
}

.verde
{
background-color: rgb(48, 82, 82);


}

.textobranco
{
    color: white;
}