<div class="container">

    <!-- Sober nós-->

    <div class="container p-0 m-0">
      <strong>

      </strong>
    </div>
    <hr>
    <div class="container m-0 bg-colorstyle py-3 textSize">
      <p>texto aqui
        </p>

        <span
        style="color: rgb(2, 5, 2); font-weight: bold;">'Sobre o Projeto:'</span>
        <p>
          bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
          bla bla bla bla bla bla bla bla bla bla bla bla
          bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
          bla bla bla bla bla bla bla bla bla bla bla bla
          bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
          bla bla bla bla bla bla bla bla bla bla bla bla
          bla bla bla bla
          bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
          bla bla bla bla bla bla bla bla bla bla bla bla
          bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
          bla bla bla bla bla bla bla bla bla bla bla <span
                style="color: rgb(24, 170, 85); font-weight: bold;">'Freedomtech'</span>, bla bla blabla bla bla bla
                bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                bla bla bla bla bla bla bla bla bla bla bla bla
                bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                bla bla bla bla bla bla bla bla bla bla bla bla
                bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                bla bla bla bla bla bla bla bla bla bla bla bla
                bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                bla bla bla bla bla bla bla bla bla bla bla
                bla bla bla bla
          bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
          bla bla bla bla bla bla bla bla bla bla bla bla
          bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
          bla bla bla bla bla bla bla bla bla bla bla
          bla bla bla bla
          bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
          bla bla bla bla bla bla bla bla bla bla bla bla
          bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
          bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
          bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
          bla bla bla bla bla bla bla bla bla bla bla bla
          bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
          bla bla bla bla bla bla bla bla bla bla bla
          bla bla bla bla
          bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
          bla bla bla bla bla bla bla bla bla bla bla bla
          bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
          bla bla bla bla bla bla bla bla bla bla bla
        </p>
        <br />
    </div>

  </div>


    <div class="row mt-5 d-flex justify-content-center">

      <strong>

    <!-- Nossa Equipe -->
    <div class="container p-0 m-0">
      <strong>
        <div class="row d-flex text-center">
        <h2 class="py-3" style="color: rgb(2, 5, 2); font-weight: bold;">ESTE SITE FOI CONSTRUÍDO POR ESTES INCRÍVEIS DESENVOLVEDORES:</h2></div>
      </strong>
    </div>

    <div class="container pb-5">
      <!-- First Row -->
      <div class="row">
        <!-- Bruno Estivalli -->
        <div class="col-lg-3 col-sm-6">
          <div class="card hovercard">
            <div class="cardheader"></div>
            <div class="bg-colorstyle cardTamanho">
              <div class="avatar">
                <img data-toggle="modal" data-target="#brunoPerfilModal" alt=""
                  src="https://imgur.com/Vu0Mnak.jpg" />
              </div>
              <div class="info">
                <div class="title pt-3">Aline</div>
                <div class="desc pt-3">Desenvolvedore FullStack Java</div>
                <div class="desc">São Paulo - SP</div>
              </div>
              <div class="row mb-3">
                <div class="col-md-12 d-flex justify-content-center">
                  <a href="https://github.aline" target="_blank" class="p-3">
                    <img class="tm-social socialIcon" src="https://img1.gratispng.com/20180514/hcq/kisspng-github-logo-repository-computer-icons-5afa376beb2671.4883383715263476279632.jpg"
                      alt="Logo do GitHub" />
                  </a>

                  <a href="https://www.linkedin.com/in/alinear-me/" target="_blank" class="p-3">
                    <img class="tm-social socialIcon" src="https://img1.gratispng.com/20180525/yz/kisspng-social-media-linkedin-computer-icons-logo-desktop-5b081f91dc0218.3765375215272590259012.jpg"
                      alt="Logo do Linkedin" />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!--Bootstrap modal -->
          <div class="modal fade" id="brunoPerfilModal" tabindex="-1" role="dialog" aria-labelledby="brunoPerfilLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <!-- Modal heading -->
                <div class="modal-header">
                  <h5 class="modal-title" id="brunoPerfilLabel">
                    Aline Monteiro
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"> × </span>
                  </button>
                </div>

                <!-- Modal body with image -->
                <div class="modal-body d-flex justify-content-center">
                  <img class="w-50" src="https://imgur.com/76LPMYz.jpg"
                    alt="foto de aline" />
                </div>

                <!-- Modal footer text -->
                <div class="modal-footer d-block">
                  <div class="row d-flex text-center">
                    <div class="col-sm">
                      <h4>Perfil Profissional</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm">
                      <p>texto lacrador aqui</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- jana-->
        <div class="col-lg-3 col-sm-6">
          <div class="card hovercard">
            <div class="cardheader"></div>
            <div class="bg-colorstyle cardTamanho">
              <div class="avatar">
                <img data-toggle="modal" data-target="#joaquimPerfilModal" alt=""
                  src="https://psicoter.com.br/wp-content/uploads/2019/01/pessoa-flexivel-seja-mais-flexivel-800x533.jpg" /> <!--foto do prfil-->
              </div>
              <div class="info">
                <div class="title pt-3">jana</div>
                <div class="desc pt-3">Desenvolvedor FullStack Java</div>
                <div class="desc"> SP</div>
              </div>
              <div class="row mb-3">
                <div class="col-md-12 d-flex justify-content-center">
                  <a href="https://github.com/jana" target="_blank" class="p-3">
                    <img class="tm-social socialIcon" src="https://img1.gratispng.com/20180514/hcq/kisspng-github-logo-repository-computer-icons-5afa376beb2671.4883383715263476279632.jpg"
                      alt="Logo do GitHub" />
                  </a>

                  <a href="https://www.linkedin.com/in/janainagarbugio/" target="_blank" class="p-3">
                    <img class="tm-social socialIcon" src="https://img1.gratispng.com/20180525/yz/kisspng-social-media-linkedin-computer-icons-logo-desktop-5b081f91dc0218.3765375215272590259012.jpg"
                      alt="Logo do Linkedin" />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!--Bootstrap modal -->
          <div class="modal fade" id="joaquimPerfilModal" tabindex="-1" role="dialog"
            aria-labelledby="joaquimPerfilLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <!-- Modal heading -->
                <div class="modal-header">
                  <h5 class="modal-title" id="joaquimPerfilLabel">
                    Janaina Garbugio
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"> × </span>
                  </button>
                </div>

                <!-- Modal body with image -->
                <div class="modal-body d-flex justify-content-center">
                  <img class="w-50" src="https://arita.com.br/wp-content/uploads/2020/08/pessoa-expansiva-principais-caracteristicas-desta-personalidade.jpg"
                    alt="jana" />
                </div>

                <!-- Modal footer text -->
                <div class="modal-footer d-block">
                  <div class="row d-flex text-center">
                    <div class="col-sm">
                      <h4>Perfil Profissional</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm">
                      <p>
                        Olá! Me chamo ..., moro em São Paulo e estou estudando
                        para me tornar um Desenvolvedor Full Stack!
                      </p>
                      <p>
                        Em Outubro/2020 iniciei o Bootcamp Full Stack da
                        Generation Brasil onde estou aprendendo a desenvolver
                        aplicações web utilizando Java, Spring Boot, SQL,
                        Angular e Docker..
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- joelma-->
        <div class="col-lg-3 col-sm-6">
          <div class="card hovercard">
            <div class="cardheader"></div>
            <div class="bg-colorstyle cardTamanho">
              <div class="avatar">
                <img data-toggle="modal" data-target="#erickPerfilModal" alt=""
                  src="../../assets/img/sobre/avatarColaboradores/erickAlan.jpg" />
              </div>
              <div class="info">
                <div class="title pt-3">joelma</div>
                <div class="desc pt-3">Desenvolvedor FullStack Java</div>
                <div class="desc">São Paulo - SP</div>
              </div>
              <div class="row mb-3">
                <div class="col-md-12 d-flex justify-content-center">
                  <a href="https://github.com/Erick0123" target="_blank" class="p-3">
                    <img class="tm-social socialIcon" src="https://img1.gratispng.com/20180514/hcq/kisspng-github-logo-repository-computer-icons-5afa376beb2671.4883383715263476279632.jpg"
                      alt="Logo do GitHub" />
                  </a>

                  <a href="https://www.linkedin.com/in/joelma-bittencourt/" target="_blank" class="p-3">
                    <img class="tm-social socialIcon" src="https://img1.gratispng.com/20180525/yz/kisspng-social-media-linkedin-computer-icons-logo-desktop-5b081f91dc0218.3765375215272590259012.jpg"
                      alt="Logo do Linkedin" />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!--Bootstrap modal -->
          <div class="modal fade" id="erickPerfilModal" tabindex="-1" role="dialog" aria-labelledby="erickPerfilLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <!-- Modal heading -->
                <div class="modal-header">
                  <h5 class="modal-title" id="erickPerfilLabel">Joelma Bittencourt</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"> × </span>
                  </button>
                </div>

                <!-- Modal body with image -->
                <div class="modal-body d-flex justify-content-center">
                  <img class="w-50" src="../../assets/img/sobre/avatarColaboradores/erickAlan.jpg" alt="Erick Alan" />
                </div>

                <!-- Modal footer text -->
                <div class="modal-footer d-block">
                  <div class="row d-flex text-center">
                    <div class="col-sm">
                      <h4>Perfil Profissional</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm">
                      <p>
                        Sou proativo, persistente em relações a certas
                        dificuldades e sempre procura tecnologia em tudo.
                      </p>
                      <p>
                        Formação Acadêmica: Técnico Eletrônico-ETEC. Onde me
                        identifiquei em Sistemas Microprocessadores.
                      </p>
                      <p>
                        Desenvolvedor Java Junior Full Stack- Com a experiência
                        em Fundamentos de programação; Estrutura de dados; Banco
                        de Dados; HTML + CSS + JavaScript: HTML5, CSS3,
                        Bootstrap, DOM entre outros; Programação Avançada;
                        Metodologia SCRUM.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Guilherme Fidelis -->
        <div class="col-lg-3 col-sm-6">
          <div class="card hovercard">
            <div class="cardheader"></div>
            <div class="bg-colorstyle cardTamanho">
              <div class="avatar">
                <img data-toggle="modal" data-target="#guilhermePerfilModal" alt=""
                  src="../../assets/img/sobre/avatarColaboradores/guilhermeFidelis.jpg" />
              </div>
              <div class="info">
                <div class="title pt-3">max</div>
                <div class="desc pt-3">Desenvolvedor FullStack Java</div>
                <div class="desc">Team Cerrado</div>
                <div class="desc">Ibiúna - SP</div>
              </div>
              <div class="row mb-3">
                <div class="col-md-12 d-flex justify-content-center">
                  <a href="https://github.com/GuiFidelis" target="_blank" class="p-3">
                    <img class="tm-social socialIcon" src="https://img1.gratispng.com/20180514/hcq/kisspng-github-logo-repository-computer-icons-5afa376beb2671.4883383715263476279632.jpg"
                      alt="Logo do GitHub" />
                  </a>

                  <a href="https://www.linkedin.com/in/max-nikollas-silva-souza/" target="_blank" class="p-3">
                    <img class="tm-social socialIcon" src="https://img1.gratispng.com/20180525/yz/kisspng-social-media-linkedin-computer-icons-logo-desktop-5b081f91dc0218.3765375215272590259012.jpg"
                      alt="Logo do Linkedin" />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!--Bootstrap modal -->
          <div class="modal fade" id="guilhermePerfilModal" tabindex="-1" role="dialog"
            aria-labelledby="guilhermePerfilLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <!-- Modal heading -->
                <div class="modal-header">
                  <h5 class="modal-title" id="guilhermePerfilLabel">
                    Max Silva
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"> × </span>
                  </button>
                </div>

                <!-- Modal body with image -->
                <div class="modal-body d-flex justify-content-center">
                  <img class="w-50" src="../../assets/img/sobre/avatarColaboradores/guilhermeFidelis.jpg"
                    alt="Guilherme Fidelis Pereira" />
                </div>

                <!-- Modal footer text -->
                <div class="modal-footer d-block">
                  <div class="row d-flex text-center">
                    <div class="col-sm">
                      <h4>Perfil Profissional</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm">
                      <p>
                        Formado em Analise e Desenvolvimento de Sistemas pela
                        Fatec-Sorocaba e Licenciado em Ciências Biológicas pelo
                        IFSP-São Roque. Tendo em vista o grande mercado e
                        possibilidade de construir uma carreira na área de T.I,
                        busco minha primeira oportunidade de trabalho.
                      </p>

                      <p>
                        tualmente estou participando do Bootcamp da Generation
                        Brasil de Desenvolvedor Java Jr. Fullstack, na qual
                        busco me atualizar sobre algumas tecnologias e estar
                        melhor preparado para o que o mercado exige. Neste
                        período já tive contato especialmente com a linguagem
                        Java, utilizando a Spring Boot como framework e MySQL
                        para Banco de Dados.
                      </p>

                      <p>
                        Possuo experiência em atendimento ao público, trabalho
                        em equipe, comunicação, além de interesse e persistência
                        para aprender conceitos e utilização de novas
                        ferramentas.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Second Row -->
      <div class="row d-flex justify-content-center">

        <!-- Leonardo Moraes -->
        <div class="col-lg-3 col-sm-6">
          <div class="card hovercard">
            <div class="cardheader"></div>
            <div class="bg-colorstyle cardTamanho">
              <div class="avatar">
                <img data-toggle="modal" data-target="#leonardoPerfilModal" alt=""
                  src="https://imgur.com/nVHL9dJ.jpg" />
              </div>
              <div class="info">
                <div class="titleGrande pt-3">samuel</div>
                <div class="desc pt-3">Desenvolvedor FullStack Java</div>

                <div class="desc">São Paulo - SP</div>
              </div>
              <div class="row mb-3">
                <div class="col-md-12 d-flex justify-content-center">
                  <a href="https://github.com/SamuelSantos7" target="_blank" class="p-3">
                    <img class="tm-social socialIcon" src="https://img1.gratispng.com/20180514/hcq/kisspng-github-logo-repository-computer-icons-5afa376beb2671.4883383715263476279632.jpg"
                      alt="Logo do GitHub" />
                  </a>

                  <a href="https://www.linkedin.com/in/samuelsantos7/" target="_blank" class="p-3">
                    <img class="tm-social socialIcon" src="https://img1.gratispng.com/20180525/yz/kisspng-social-media-linkedin-computer-icons-logo-desktop-5b081f91dc0218.3765375215272590259012.jpg"
                      alt="Logo do Linkedin" />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!--Bootstrap modal -->
          <div class="modal fade" id="leonardoPerfilModal" tabindex="-1" role="dialog"
            aria-labelledby="leonardoPerfilLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <!-- Modal heading -->
                <div class="modal-header">
                  <h5 class="modal-title" id="leonardoPerfilLabel">
                    Samuel Santos
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"> × </span>
                  </button>
                </div>

                <!-- Modal body with image -->
                <div class="modal-body d-flex justify-content-center">
                  <img class="w-50" src="https://imgur.com/nVHL9dJ.jpg"
                    alt="foto de samuel" />
                </div>

                <!-- Modal footer text -->
                <div class="modal-footer d-block">
                  <div class="row d-flex text-center">
                    <div class="col-sm">
                      <h4>Perfil Profissional</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm">
                      <p>
                        Desenvolvedor full stack jr. Dedicado e proativo, sempre
                        disposto a trabalhar em equipe, se comunicar,
                        compartilhar e absorver conhecimento. Bastante atento
                        aos detalhes das demandas requeridas, e organizado em
                        suas entregas.
                      </p>
                      <p>
                        Possuo um amor e entusiamo gigante por tecnologia e por
                        criar soluções práticas para problemas complexos.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


                    </div>
                  </div>



                      <p>
                      </p>



