<div class="container-fluid flex-wrap lead">
  <div class="row justify-content-center h-100">

  <div class="row justify-content-center">
      <div class="col-md-6 p-5 mt-5 mb-5 border-bottom">
          <i class="fa fa-quote-right mr-3" aria-hidden="true"></i>
          <br />
                 <span
          style="color: rgb(2, 5, 2); font-weight: bold;">'Sobre o Projeto:'</span>
          <p>
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla <span
                  style="color: rgb(24, 170, 85); font-weight: bold;">'Freedomtech'</span>, bla bla blabla bla bla bla
                  bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                  bla bla bla bla bla bla bla bla bla bla bla bla
                  bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                  bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                  bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                  bla bla bla bla bla bla bla bla bla bla bla bla
                  bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                  bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                  bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                  bla bla bla bla bla bla bla bla bla bla bla bla
                  bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                  bla bla bla bla bla bla bla bla bla bla bla
                  bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla
          </p>
          <br />
          <i class="fa fa-quote-left ml-1" style="float: right;" aria-hidden="true"></i>
      </div>
      <div class="container-fluid">


        <div class=" mb-10 mt-10">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="mb-4 font-weight-bold text-center">PATROCINADORES</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" role=auto >
                        <div class="carousel-inner" role ="listbox">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="card w-50">
                                            <img class="card-img-top"
                                                src="https://www.cloudgirls.com.br/image/logos/lll3picos_logo.png"
                                                alt="Card image cap">

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card w-50">
                                            <img class="card-img-top"
                                                src="https://www.cloudgirls.com.br/image/logos/brq.png"
                                                alt="Card image cap">

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card w-50">
                                            <img class="card-img-top"
                                                src="https://www.cloudgirls.com.br/image/logos/sky-onelogo.png"
                                                alt="Card image cap">

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card w-50">
                                            <img class="card-img-top"
                                                src="https://www.cloudgirls.com.br/image/logos/logo-movile-011.png"
                                                alt="Card image cap">

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="card w-50">
                                            <img class="card-img-top"
                                                src="https://www.cloudgirls.com.br/image/logos/Logo%20Oracle.png"
                                                alt="Card image cap">

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card w-50">
                                            <img class="card-img-top"
                                                src="https://www.cloudgirls.com.br/image/logos/logo-fundo-transp1.png"
                                                alt="Card image cap">

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card w-50">
                                            <img class="card-img-top"
                                                src="https://www.cloudgirls.com.br/image/logos/ame.png"
                                                alt="Card image cap">

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card w-50">
                                            <img class="card-img-top"
                                                src="https://www.cloudgirls.com.br/image/logos/mandic.png"
                                                alt="Card image cap">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>

        </div>
      </div>

  </div>


  </div>




