<!--Mudar a cor do background. Cor padrão do FreedomTech #488282-->
<!------------------------------------------NAV BAR------------------------------------------------->


<nav class="navbar navbar-expand-lg navbar-light cor-bg align-items-center">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
    aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto">

      <li>
        <img src="assets/IMG/LogoBranco.png" alt="imagem do user" width="150px" height="150px" class="img-fluid">
      </li>

      <li class="nav-item active align-items-center">
        <a class="nav-link" href="#">HOME <span class="sr-only"></span></a>
      </li>
      <li class="nav-item align-items-center">
        <a class="nav-link" href="#">TIMELINE</a>
      </li>

      <li class="nav-item align-items-center">
        <a class="nav-link" href="#">CONTATOS</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          LOGIN
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">PESSOA FÍSICA</a>
          <a class="dropdown-item" href="#">PESSOA JURÍDICA</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">PLAYLIST COLABORATIVA</a>
        </div>
      </li>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Pesquisar</button>
    </form>
  </div>
</nav>

<!------------------------------------------------SOBRE NÓS------------------------------------------>
<app-sobre-nos> </app-sobre-nos>

 <!-- -------------------------------------------O PROJETO------------------------------------------------ -->
<app-projeto></app-projeto>

<!-------------------------------------------PATROCINADORES------------------------------------------>
<app-carrossel></app-carrossel>

<!------------------------------------------------FOOTER--------------------------------------------->
<app-footer></app-footer>
<!------------------------------------------------CADASTRAR--------------------------------------------->
<app-cadastrar></app-cadastrar>
