<hr>
<footer class="page-footer font-small cor-bg pt-4">

    <div class="container">
       <div class="row">
           <div class="col-md-12 justify-content-center">
               <h4 class="text-dark bg-wihte"> Siga-nos nas redes sociais</h4>

           </div>
       </div> 

       <div class="row">
           <div class="col-md-12 d-flex justify-content-center"></div>

           <ul class="social-network">
               <li>
                   <a href="https://linktr.ee/freedomtech" target="_blanck" class="icoLinktree">
                    <img src="https://img.icons8.com/color/480/linktree.png" alt="logo Linktree" width="30px" height="30px" position="center">
                </a>
               </li>
           </ul>
       </div>
    </div>
    <div class="footer-copyright bg-wihte text-center py-3">
        <span> © Freedom Tech </span>

    </div>

</footer>