<hr>
<footer class="w-100">

<div class="w-100 d-flex justify-content-center bkFooter1 text-light lead shadow">

  <div class="col-md-4 p-0 mt-3">



    <div class="d-flex justify-content-center flex-wrap">
      <div class="row container justify-content-center">
<ul>

  <a class="nav-link text-light p-3 m-3" routerLink="/sobre">Desenvolvido com dedicação pela FreedomTech💜Clique aqui</a>


        </ul>
      </div>
    </div>

  </div>

  <div class="col-md-4 p-0 mt-3">

    <div class="d-flex justify-content-center flex-wrap">
      <h4 class="text center">Canais de Contato</h4>
      <div class="row container justify-content-center">

        <ul class="list-group list-unstyled ml-2">
          <li class="list-item mb-2 ml-3">
            <h6>Fale Conosco</h6>
          </li>
          <li class="list-item mb-2"><a href="#" class="text-light text-decoration-none">
              <div class="row ml-3">
                <div>
                  <div class="align-items-center">
                    <i class="fa fa-phone-square mr-2" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="align-items-center">
                  <p class=" text-decoration-none">(11)4444-4444</p>
                </div>
              </div>
            </a></li>

          <li class="list-item mb-2"><a href="#" class="text-light text-decoration-none">
              <div class="row ml-3">
                <div>
                  <div class="align-items-center mr-2">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="align-items-center">
                  <p class=" text-decoration-none">Freedomtech@gmail.com</p>
                </div>
              </div>
            </a></li>

          <li class="list-item mb-2"><a href="#" class="text-light text-decoration-none">
              <div class="row ml-3">
                <div>
                  <div class="align-items-center mr-2">
                    <i class="fa fa-whatsapp" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="align-items-center">
                  <p class=" text-decoration-none">(11)444-4444</p>
                </div>
              </div>
            </a>
          </li>


          <li class="list-item mb-2"><a href="" class="text-light text-decoration-none "></a></li>

        </ul>
      </div>

    </div>
  </div>
  <div class="col-md-4 p-0 mt-3">
    <div>
      <h4 class="text-center mr-4 ">Redes Sociais</h4>
      <div class="row container justify-content-center mt-3 icones">
        <div class=""><a href="" class="p-3 text-light"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        </div>
        <div class=""><a href="" class="p-3 text-light"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
        </div>
        <div class=""><a href="" class="p-3 text-light"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
      </div>
    </div>
  </div>

</div>
</footer>


<footer classe="container-fluid">
<h4 class="text-center p-3 m-0 text-light lead bkFooter1 bkFooter2">&copy; FreedomTech- Todos os Direitos Reservados
</h4>
</footer>
